
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.penny {
    background: url(penny.png);
    height: .750in;
    width: .750in;
}
.nickel {
    background: url(nickel.png);
    height: .835in;
    width: .835in;
}
.dime {
    background: url(dime.png);
    height: .705in;
    width: .705in;
}
.quarter {
    background: url(quarter.png);
    height: .955in;
    width: .955in;
}
.coin {
    /* height: 100px;
    width: 100px; */
    /* background: brown; */
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}